extends ./layout.pug
block aboutPage
    div.indexContent
        
        div.aboutPage
            p Hello, my name is Martin. I am creating this site as i am learning how to code and do web development. This page is meant to be a resource for people under learning. Loots of the information here is bad, maybe wrong and it may not suit your eye. I would very much like comments or a message on whats wrong, bad and ugly so that i can make it better!
            
            p I am currently learning mongodb, javascript and basic math. Soon react i hope!
            
            p There are different ways to contact me:
            
            p On mail at: martin.hoglar@gmail.com
            
            p On discord, use this if you want to talk to me about stuff related to my site or any of the topics i have covered, if i have time i could try help if you are newer than i am and i know the topic :) just add: Elwuudi#7228 
            
            p On LoL: Elwuudi at euw, at gold! want to talk over a game of lol? best combined with discord over!
            
            p Or help me out on github at: 
                a(target="_blank",href="https://github.com/Hoglar/hoglarblog") hoglar/Hoglarblog 
            
            
            
    