extends ./layout.pug 
block blogPosts
    each post in posts
        div.blogPosts
            h1 
                a(href="/blog/" + postName[posts.indexOf(post)]) #{post.title}
            p   #{post.description}
        
        