extends ./layout.pug
block checklist
   
    div.checklistMain
        div.checklistBox
            h1 ToDo List!
            div.checklistItemBox
                for item in todoList
                    p #{item}
       
        

        
        
        
        
