extends ./layout.pug
block glossary
    div.mainGlossaryBlock
        div.htmlGlossary
            h1 HTML
        div.cssGlossary
            h1 CSS
        div.javaScriptGloassary
            h1 JavaScript
    