extends ./layout.pug
block glossary
    div.mainGlossaryBlock
        div.htmlGlossary
            h1 HTML
            div.glossaryList
                
        div.cssGlossary
            h1 CSS
            div.glossaryList
              
                
        div.javaScriptGloassary
            h1 JavaScript
            div.glossaryList
                
        div.mongoDbGlossary
            h1 MongoDb
            div.glossaryList   
                for doc in docs
                    if doc.tag == "mongodb"
                        h2 #{doc.topic}
               

    