extends ./layout.pug
block indexPage
    div.indexPage
        div.indexContent-1
        
            h1 Welcome to my site!
            p My name is Martin and i am learning to code!
        div.indexContent-2
