extends ./layout.pug
block indexPage
   
    div.indexContent

        h1 Welcome!
        p This website is a collection of guides on different topics created by a guy that probably dont know much about those topics yett. I want to write about topics that i want to learn, this way i learn better. The goal of this page is to actually make some good content that people learning the stuff can use. This will happend through a proccess of continous improvement. 
        p I would appreciate comments on my work, on all topics there is comment sections that i would like you to use. Write down whats wrong on the page or what needs to be improved and i will try to do that. Over time this will make the page good. Thanks!

        

        
        
        
        
