doctype html
html    
    include ./partials/_head.pug
        
    body.siteBody
        include ./partials/_nav.pug
        div.mainContent
            block indexPage
            block glossary
            block glossaryPost
            block checklist
            block errorPage
        include ./partials/_footer.pug
        block javaScript
        script(src="/static/js/functionality.js")

    block content
    
    