footer.mainFooter
    div.footerBlock-1#footerBlock-1
        a(href="/glossary")
            img.glossaryPicture(src="/static/img/lemmling-Cartoon-owl-sitting-on-a-book-300px.png")
        
        if (inBlogPost === true)
            button.specificGlossaryButton#glossaryButton #{post.title} Glossary
    div.footerBlock-2
        p © Hoglar.com - 2017
    div.footerBlock-3

        a(href="http://referrals.trhou.se/martinhghauglarsen" target="_blank")
            img.treehouseReferal(src="https://static.teamtreehouse.com/assets/content/referral-badge-grn.png")
        
        a(href="https://m.do.co/c/6a06b37cd5ae" target="_blank")
            img.digitalOceanReferal(src="/static/img/digitalOceanWhite.png")
        