head.headerFlexContainer
        meta(charset='utf-8')
        title Hoglar
        link(rel='stylesheet' href='/static/css/normalize.css/normalize.css' type="text/css")
        link(rel='stylesheet' href='/static/css/styles.css' type='text/css')
        
        link(href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css')