extends ./layout.pug
block errorPage
   
    div.indexContent
        div.hoglarLogo
            img(src="/static/img/hoglarLogo.png")
            
        div.errorText
            p Something went wrong.