
* {
	box-sizing: border-box;
}
/* ------------ Web fonts -----------*/

html {

    min-height: 100%;
    
}


.siteBody {
    background: white; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
    
}


/*   ----------   Header ------------    

-----------------------------------------
----------------------------------------- */

.navFlexContainer {
    display: flex; 
    height: 70px;
    background: white;
    border-bottom: solid 2px;
    border-bottom-color: #2d557c;
    justify-content: flex-start;
    width: 100%; }
      
.navLink-1 {
    order: 1;
}

.navLink-2 {
    order: 2;
}


.navFlexContainer li {
    list-style-type: none;
    color: black;
    padding-top: 40px;
    padding-right: 40px;
    font-family: 'dancing script', cursive;
    font-size: 30px;
}


.navLink a
{
    text-decoration: none;
    color: black;
}


.navLink a:hover {
    color: #2d557c;
}

/*   ----------   Index Page ------------    

-----------------------------------------
----------------------------------------- */

.indexPage {
    display: flex;
    align-self: center;
    

}

.indexContent-1 {
    align-content: space-around;
}


/*   ----------   Main content flex container! ------------    

-----------------------------------------
----------------------------------------- */


.mainContent {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/*   ----------   DIV blogPosts ------------    

-----------------------------------------
----------------------------------------- */


.blogPosts {
    text-align: center;
    width: 60%;
    border: solid 2px black;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    
    
    
}

.blogPosts h1 {
    font-family: 'dancing script', cursive;
}

.blogPosts a {
    color: black;
    text-decoration: none;
}

.blogPosts a:hover {
    font-size: 110%;
    text-decoration: overline;
}

.postSelected h1 {
    
    text-decoration: overline;
}

h1.underscore {
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    
}


/*   ----------   About and contact ------------    

-----------------------------------------
----------------------------------------- */

.about {
    display: flex;
   
    flex-direction: column;
}

section h2 {
  
    align-self: center;
    
}
    
section p {
  
    align-self: center;
    width: 40%;
}








/* ----------- Footer ------------*/

.mainFooter {
    border-top: solid 1px #122131;
    width: 100%;
    height:60px;
    align-self: flex-end;
    background: #2d557c;
  
   
    
}

.mainFooter p {
    margin: 10px auto;
    text-align: center;
    color: white;
}

#legalJibberJabber {
    font-size: 10px;
    color: #87aed4;
    margin-left: 10px;
    margin-right: 10px;
   
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  
    #legalJibberJabber {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (min-width: 1025px) {

	
}