
* {
	box-sizing: border-box;
}
/* ------------ Web fonts -----------*/

html {

    min-height: 100%;
    
}


.siteBody {
    background: white; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
      
}

/*   ----------   Main content flex container! ------------    

-----------------------------------------
----------------------------------------- */


.mainContent {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    line-height: 150%;
    
}





/*   ----------   Header ------------    

-----------------------------------------
----------------------------------------- */

.navFlexContainer {
    display: flex; 
    height: 50px;
    border-bottom: solid 2px;
    border-bottom-color: #2d557c;
    justify-content: space-between;
    width: 100%; }
      

.navBlock-1 {
    display: flex;
    justify-content: flex-start;
    order: 1;
    flex-basis: 20%;
    
}

.navBlock-2 {
    display: flex;
    justify-content: center;
    order: 2;
    flex-basis: 60%;
    
}

.navBlock-3 {
    display: flex;
    justify-content: flex-start;
    order: 3;
    flex-basis: 20%;
    
}


.navFlexContainer li {
    list-style-type: none;
    color: black;
    padding-top: 8px;
    padding-right: 40px;
    font-size: 30px;
}


.navLink a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}


.navLink a:hover {
    color: #2d557c;
}

.navLinkMiddle {
    margin-left: 10px;
    margin-right: 10px;
}

/*   ----------   Index Page ------------    

-----------------------------------------
----------------------------------------- */

    


.indexContent {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 70%;
    background-color: floralwhite;
    flex: 1;
    border: solid 2px #2d557c;
    


  
    
}

.indexContent h1 {
    text-align: center;
    margin-top: 70px;
}

.indexContent p {
    width: 60%;
    margin: 30px auto 30px;
    
}




/*   ----------   DIV blogPosts ------------    

-----------------------------------------
----------------------------------------- */






.blogPosts {
    text-align: center;
    width: 60%;
    border: solid 2px #122131;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: floralwhite;
    order: 2;
   
    
    
    
}

.blogPostsLeft {
    display: flex;
    order: 1;
    width: 20%;
    justify-content: space-around;
    
}

#glossarySticker {
    background-color: floralwhite;
    width: 90%;
    border: solid 2px #122131;
    margin-top: 10px;
    margin-bottom: 10px;

}

.blogPostsRight {
    order: 3;
    width: 20%;
}


.blogPosts h1 {
    
}

.blogPosts a {
    color: black;
    text-decoration: none;
}

.blogPosts a:hover {
    font-size: 110%;
    text-decoration: overline;
}

.postSelected h1 {
    
    text-decoration: overline;
}

h1.underscore {
    text-decoration: none;
    border-bottom: 3px solid;
    padding-bottom: 10px;
    
}

.blogPostContent {
    border-top: solid 2px #122131;
} 

.glossaryContent {
    display: none;
}




/*------------ BlogLandingPage -----------*/


.blogLandingpage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.blogLandingpagePost {
    text-align: center;
    border: solid 2px #122131;
    background-color: floralwhite;
    width: 30%;
    margin: 10px;
    border-radius: 10px 10px 10px 20px;
    padding: 20px;
}

.blogLandingpagePost h1 {
    
}

.blogLandingpagePost a {
    color: black;
    text-decoration: none;
}

.blogLandingpagePost a:hover {
    font-size: 110%;
    text-decoration: overline;
}

.postDate {
    text-align: right;
    
}

/* ----------- Footer ------------*/

.mainFooter {
    display: flex;
    border-top: solid 2px #122131;
    width: 100%;
    height:60px;
    align-self: flex-end;
    background: #2d557c;
    align-items: center;
    
}

.footerBlock-1 {
    display: flex;
    justify-content: flex-start;
    order: 1;
    flex-basis: 20%;
    
}

.footerBlock-2 {
    display: flex;
    justify-content: center;
    order: 2;
    flex-basis: 60%;
    
}

.footerBlock-3 {
    display: flex;
    justify-content: flex-end;
    order: 3;
    flex-basis: 20%;
    
}

.mainFooter p {
    margin: 10px auto;
    text-align: center;
    color: white;
}

#legalJibberJabber {
    font-size: 10px;
    color: #87aed4;
    margin-left: 10px;
    margin-right: 10px;
   
}

.mainFooter a {
    display: flex;
    align-self: center;
}

.digitalOceanReferal {
    max-width: 120px;
    height: 25px;
    
    margin-right: 20px;
}
.treehouseReferal {
    height: 55px;
    width: 55px;
    margin-right: 20px;
    border: solid 1px black;
}

.glossaryPicture {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

.specificGlossaryButton {
    margin-left: 20px;
    border: solid 2px black;
    border-radius: 10px 10px 10px 20px;
    font-family: 'dancing script', cursive;
    background-color: floralwhite;
    font-size: 120%;
    
}
#glossaryButton:hover {
    background-color: #c25975;
}


/* ================================= 
  Glossary page
==================================== */

.mainGlossaryBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.mainGlossaryBlock div {
    border-radius: 10px 10px 10px 20px;
    
}
.mainGlossaryBlock div h1 {
    font-family: 'dancing script', cursive;
}

.mainGlossaryBlock h1 {
    border: solid 2px #122131;
    padding: 5px 20px 5px 20px;
    border-radius: 10px 10px 10px 20px;
}

.htmlGlossary {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
    width: 20%;
    border: solid 2px #2d557c;
    background-color: floralwhite;
    min-height: 450px;
}

.htmlGlossary h1 {
    background-color: #3079AB;
    
}

.cssGlossary {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    width: 20%;
    border: solid 2px #2d557c;
    background-color: floralwhite;
    
}

.cssGlossary h1 {
    background-color: #3079AB;
}

.javaScriptGloassary {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    width: 20%;
    border: solid 2px #2d557c;
    background-color: floralwhite;
}

.javaScriptGloassary h1 {
    background-color: #c25975;
}

.mongoDbGlossary {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 4;
    width: 20%;
    border: solid 2px #2d557c;
    background-color: floralwhite;
}

.mongoDbGlossary h1 {
    background-color: #2c9676
}

.glossaryList {
    display: flex;
    flex-direction: column;
    
}

.glossaryList h2 a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    
} 

/* ================================= 
  Glossary Post
==================================== */

.glossaryPostMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 40px;
}

.glossaryPost {
    display: flex;
    background-color: floralwhite;
    border: solid 2px #122131;
    align-items: center;
    flex-direction: column;
    width: 80%;

}

.comments {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: center;
    padding : 10px 40px 10px 40px;
}

.commentBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.singleComment {
    display: flex;
    width: 30%;
    flex-direction: column;
    border: solid 2px #122131;
    min-height: 200px;
    margin: 20px 10px 20px 10px;
    justify-content: space-between;
}

.commentTime {
    display: flex;
    width: 100%;
    border-bottom: solid 2px #122131;
    background-color: #2d557c;
}

.commentTime p {
    font-size: 12px;
    margin-left: 10px;
}

.commentText {
    margin-left: 5px;
}

.commentAuthor  {
    text-align: right;
    margin-right: 10px;
    font-family: 'dancing script', cursive;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;
    
}


/* ================================= 
  Glossary Form
==================================== */

.commentForm {
    display: flex;
    width: 40%;
    flex-direction: column;
}

.commentForm form label {
    border: solid 2px #122131;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    background-color: floralwhite;
    
}

.commentForm textarea {
    height: 100px;
    border: solid 1px #122131;
    background-color: floralwhite;

}

.commentSigningField {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2px;
}

.commentAuthorField {
    display: flex;
    width: 50%;
    border: solid 2px #122131;
    background-color: #2d557c;
    color: white;
    font-size: 18px; 
}

.commentButtonField {
    width: 50%;
}

.authorSectionLabel {
    display: flex;
    width: 50%;
    
    
}
#authorSection {
    display: flex;
    width: 50%;
    
}





.commentForm form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}



.commentSubmitButton {
    border: solid 2px #122131;
    font-size: 18px;
    width: 100%;
    background-color: #2da55c;
    color: white;
    min-height: 30px;
}

.commentSubmitButton:hover {
    background-color: #2d557c;
    cursor: pointer;
    
}




/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  
    #legalJibberJabber {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (min-width: 1025px) {

	
}