footer.mainFooter
    div.footerBlock-1#footerBlock-1
        a(href="/glossary")
            img.glossaryPicture(src="/static/img/lemmling-Cartoon-owl-sitting-on-a-book-300px.png")
            
        a(href="/checklist")
            img.glossaryPicture(src="/static/img/Liste-300px.png")
        
    div.footerBlock-2
        
    div.footerBlock-3
        a(href="/about")
            p About
      
        