/* Dictionary css! */

.dictionaryWrapper {
    grid-row: 2 / 3;
    grid-column: 5 / 7;
    z-index: 1;

    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: solid 1px #0F78FF;
    justify-content: space-between;
}

.dictionaryTopics {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 45px;
    background-color: grey;
    font-weight: lighter;
}

.dictionaryMain {
    width: 100%;
    background-color: blue;
}

.dictionaryFooter {
    align-self: flex-end;
    width: 100%;
    height:100px;
    background-color: blue;

}
