extends ./layout.pug
block indexPage
   
    div.indexContent

        h1 Welcome!
        p My name is Martin and i am learning to code! This site is under construction and probably will be a build in progress as long as i am learning. At the moment i am learning HTML, CSS and JavaScript for the front end and Node.js Express, MongoDB for the back end. I will put up guides on this topics, or notes from my learning sessions. 

        p I would appreciate comments on my work, all my code is up on gitHub, plz comment my project there :) 

        p I am using Treehouse.com as my school, here is a referal link if u want. I also have a referal to Digital Ocean which is where im hosting this site.
        
    div.indexContent-2
