doctype html
html    
    include ./partials/_head.pug
        
    body.siteBody
        include ./partials/_nav.pug
        div.mainContent
            block indexPage
            block blogPosts
            block glossary
            block singleBlogPost
            block wowIndex
            block glossaryPost
        include ./partials/_footer.pug
        block javaScript
        script(src="/static/js/functionality.js")

    block content
    
    