/*http://paletton.com/#uid=23D050kGq2jFa+Pzkay++00++00*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 45px repeat(6, 1fr);
	grid-template-rows: 100vh auto;
	background-color: #01060C;
}

.mainSection {
	display: grid;
	grid-column: 2 / 8;
    grid-row: 1 / 3;
	grid-template-rows: 45px 45px 1fr 1fr 1fr auto;
	grid-template-columns: repeat(6, 1fr);
}
