/*http://paletton.com/#uid=23D050kGq2jFa+Pzkay++00++00*/
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 45px repeat(6, 1fr);
	background-color: #01060C;
	height: 100vh;
}

.mainSection {
	display: grid;
	grid-column: 2 / 8;
	grid-template-rows: 10% 1fr 20%;
	grid-template-columns: repeat(6, 1fr);
}

/* Test */

.test {
	grid-column: 2 / 3;
	color: white;
}

/* FOOTER */

.footerWrapper {
	display: flex;
	z-index: 1;
	grid-row: 3 / 4;
	grid-column: 1 / 7;

	flex-direction: row;
	justify-content: center;

	background-color: #0F78FF;
	color: #01060C;
	border-top: 1px solid #000000;
	font-weight: lighter;
	padding-bottom: 8px;
}

.attributionHeader {
	font-weight: lighter;
	margin-bottom: 0px;
}

.footerAttribution {
	align-self: flex-end;
	width: 80%;
	text-align: center;
}

.attribution {
	display: inline;
	font-size: 12px;
	align-self: flex-end;
}
.attribution a{
	text-decoration: none;
	color: #01060C;
}
