/*http://paletton.com/#uid=23D050kGq2jFa+Pzkay++00++00*/


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: sans-serif;
}

/*************************
        Base rules
*************************/

*:focus {
    outline: none;
}

section, button {
    color: #8e8e8e;
}

h1, h2, h3, h4, button {
    font-weight: 400;
    font-variant: small-caps;
    letter-spacing: .15em;
    font-size: 18px;
}

h4 {
    font-variant: normal;
}

h1 {
    font-size: 20px;
    letter-spacing: .5em;
}

li {
    list-style-type: none;
    letter-spacing: .15em;
    font-size: 16px;
}

article {
    line-height: 1.5em;
    font-weight: lighter;
    font-size: 18px;
}

/**   Layout   **/

.wrapper {
	display: grid;
	grid-template-columns: 45px repeat(6, 1fr);
	grid-template-rows: 100vh auto 200px;
	background-color: #01060C;
}

.mainSection {
	display: grid;
	grid-column: 2 / 8;
    grid-row: 1 / 3;
	grid-template-rows: 45px 45px auto;
	grid-template-columns: repeat(6, 1fr);
}
