/* FOOTER */

.footer {
	display: flex;
	grid-row: 3 / 4;
	grid-column: 2 / 8;

	flex-direction: column;
	justify-content: space-between;

	background-color: #0F78FF;
	color: #01060C;
	border-top: 1px solid #000000;
	padding-bottom: 8px;
    padding-top: 90px;
}

.footerDefault {
    align-self: center;
	display: flex;

	flex-direction: row;
	justify-content: space-between;
	vertical-align: middle;
}

.footerDefault h3 {
	margin: 15px;
	padding-top: 10px;
	border-top: solid 2px #01060C;
}

.footerDefault h3:hover {
	cursor: pointer;
	border-top: solid 2px #FF9E00;
}
