/* FOOTER */

.footer {
	display: flex;
	grid-row: 3 / 4;
	grid-column: 2 / 8;

	flex-direction: column;
	justify-content: space-between;

	background-color: #0F78FF;
	color: #01060C;
	border-top: 1px solid #000000;
	padding-bottom: 8px;
    padding-top: 45px;
}

.supportSection {
    align-self: center;
}
