/* FOOTER */

.footer {
	display: flex;
	grid-row: 3 / 4;
	grid-column: 2 / 8;

	flex-direction: column;

	background-color: #0F78FF;
	color: #01060C;
	border-top: 1px solid #000000;
	padding-bottom: 8px;
    padding-top: 40px;
}

.footerDefault {
    align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footerDefault a {
	color: black;

}

.footerDefault h3 {
	margin: 15px;
	padding-top: 10px;
	border-top: solid 2px #01060C;
}

.footerDefault h3:hover {
	cursor: pointer;
	padding-top: 5px;
}

.footerAbout {
	width: 60%;
	letter-spacing: 0.15em;
}
