/* Notes */
/* Gets included in app.js */

.notesSkeleton {
    z-index: 1;
    grid-row: 1 / 7;
    grid-column: 1 / 7;

    display: grid;
    grid-template-rows: 45px 45px auto 45px 45px;
    grid-template-columns: repeat(6, 1fr);

    border-right: solid 1px #000000;
}

.noteCreate {
    grid-row: 3 / 7;
    grid-column: 1 / 5;

    display: grid;
    grid-template-rows: 45px auto 45px;
    grid-template-columns: 5% 90% 5%;
}

.noteCreateTop {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#noteCreateInputSection {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    padding: 20px;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    font-family: Courier, monospace;

    background-color: #041A37;
    border: solid 1px #000000;
    outline: none;
    resize: none;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);

    width: 100%;
    height: auto;
}

.noteCreateFooter {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}









/********************* NoteCreate *************************/
