/* Notes */
/* Gets included in app.js */

.notesSkeleton {
    z-index: 1;
    grid-row: 1 / 7;
    grid-column: 1 / 7;

    display: grid;
    grid-template-rows: 45px 45px auto 45px 45px;
    grid-template-columns: repeat(6, 1fr);

    color: #8e8e8e;
}


.noteLandingPage {
    grid-row: 1 / 6;
    grid-column: 1 / 5;


    display: grid;
    grid-template-rows: 45px 45px auto;
    grid-template-columns: repeat(4, 1fr);

    border-right: solid 1px black;

    font-weight: lighter;
    font-size: 18px;

}

.noteLandingHeaderStyle {
    grid-row: 1 / 3;
    grid-column: 1 / 5;

    border-bottom: solid 1px #0F78FF;
    border-right: solid 1px #0F78FF;
}

.noteLandingPageLogo {

    font-size: 20px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    margin-left: 20px;

    display: flex;
    align-items: center;
}

.noteLandingPageCreate {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.noteLandingPageButton {
    height: 100%;
    font-size: 18px;
    border: none;
    background: none;
    padding: 0;
}

.noteLandingPageButton:hover {
    color: #FF9E00;
    cursor: pointer;
}

.noteLandingPageButton:focus {
    color: #FF9E00;
    outline: none;
}


.noteLandingPageTopic {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.noteLandingPageTopicError {
    grid-row: 1 / 2;
    grid-column: 3 / 5;

    color: #0F78FF;
}




.noteLandingPageTopicChooser {
    grid-row: 3 / 4;
    grid-column: 3 / 4;

    z-index: 1;

    display: flex;
    flex-direction: column;
}

.noteLandingPageSingleTopic {
    z-index: 1;
    height: 22px;
    font-size: 16px;
    margin-top: 2px;
    background-color: #0F78FF;
    color: black;
    padding-left: 10px;

    box-shadow: inset 0px -1px 1px 0px rgba(1,6,12,1);
}

.noteLandingPageSingleTopic:hover {
    background-color: #FF9E00;
    cursor: pointer;
}



.noteLandingPageSearch {
    grid-row: 2 / 3;
    grid-column: 4 / 5;

    display: flex;
    align-items: center;
    padding-bottom: 2px;
    padding-right: 2px;
}

.noteLandingPageSearchField {
    background-color: #041A37;
    border: solid 0px black;
    box-shadow: inset 0px -1px 1px 0px rgba(1,6,12,1);
    padding-left: 10px;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 100%;
}

.noteLandingPageCreateTopic {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2px;
    padding-bottom: 2px;
}

#noteLandingPageCreateTopicInput {
    background-color: #041A37;
    border: solid 1px black;
    box-shadow: inset 0px -1px 1px 0px rgba(1,6,12,1);
    padding-left: 10px;
    color: white;
    font-size: 20px;
    height: 100%;
    width: 80%;

}

.noteLandingPageCreateTopic button {
    background-color: #0F78FF;
    box-shadow: inset 0px -1px 1px 0px rgba(1,6,12,1);
    color: black;
    margin: auto;
    width: 20%;
    height: 100%;
    border: solid 1px black;
    font-size: 20px;
}

.noteLandingPageCreateTopic button:hover {
    cursor: pointer;
    background-color: #FF9E00;
}



.noteCreate {
    grid-row: 3 / 7;
    grid-column: 1 / 5;

    display: grid;
    grid-template-rows: 45px auto 45px;
    grid-template-columns: 5% 90% 5%;
    border-right: solid 1px black;
    padding-right: 2px;
}

.noteCreateTop {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    margin-top: 3px;
}

.noteCreateTitleInput {
    height: 100%;
    width: 100%;

    padding: 20px;
    color: white;
    font-size: 20px;

    background-color: #041A37;
    border: solid 1px #000000;
    outline: none;
    resize: none;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);


}

#noteCreateInputSection {
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    padding: 20px;
    color: white;
    font-size: 18px;

    background-color: #041A37;
    border: solid 1px #000000;
    outline: none;
    resize: none;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);

    width: 100%;
    height: auto;
}

.noteCreateFooter {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/********************* NoteSearchResult *************************/

.noteSearchResult {
    grid-row: 3 / 6;
    grid-column: 3 / 5;

    display: grid;
    grid-template-rows: 45px auto;
    grid-template-columns: repeat(4, 1fr);

}

.noteSearchResultTop {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.noteSearchResultMain {
    grid-row: 2 / 3;
    grid-column: 1 / 5;

    display: flex;
    flex-direction: column;
}

.noteSearchSingleResult h1 {
    font-size: 18px;
    font-weight: lighter;
}

.noteSearchSingleResult p {
    font-size: 16px;
    font-weight: lighter;
    text-align: right;
}

.noteSearchSingleResult {
    color: black;
    width: 100%;
    background-color: #0F78FF;
    border: solid 1px #000000;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    height: 100px;
    padding: 10px;
}

.noteSearchSingleResult:hover {
    cursor: pointer;
    border: solid 1px #FF9E00;
}

/********************* NoteRead *************************/

.noteRead {
    grid-row: 3 / 7;
    grid-column: 1 / 5;

    display: grid;
    grid-template-rows: 45px auto 45px;
    grid-template-columns: 5% 90% 5%;
    border-right: solid 1px black;
    padding-right: 2px;
}

.noteReadTop {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    margin-top: 3px;

    background-color: #041A37;
    border: solid 1px #000000;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);
    padding-left: 20px;

    display: flex;


}

.noteReadTop h1 {
    font-size: 20px;
    font-weight: lighter;
    align-self: center;
}

.noteReadMain {
    grid-row: 2 / 3;
    grid-column: 2 / 4;

    padding: 20px;
    font-size: 18px;

    background-color: #041A37;
    border: solid 1px #000000;
    outline: none;
    resize: none;
    box-shadow: inset 0px -1px 5px 0px rgba(1,6,12,1);

    width: 100%;
    height: auto;
    white-space: pre-wrap;
}
.noteReadMain p {
    margin: 0;
}

.noteReadFooter {
    grid-row: 3 / 4;
    grid-column: 2 / 3;

    display: grid;

    grid-template-rows: 45px;
    grid-template-columns: repeat(4, 1fr);
}

.noteReadFooter button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#noteReadFooterEditButton {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#noteReadFooterDeleteButton {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#noteReadFooterMarkButton {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#noteReadFooterCommentButton {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}
